* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1200px;
}

.row {
}

/* animations */

@keyframes float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(8px);
  }
}
@keyframes grow {
  0% {
    transform: scale(95%);
  }
  100% {
    transform: scale(100%);
  }
}

@keyframes grow-in {
  0% {
    transform: scale(0%);
  }
  100% {
    transform: scale(100%);
  }
}
@keyframes drop-in {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slide-in {
  0% {
    transform: translateX(-700%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes toss {
  0% {
    transform: scale(0) translateY(0);
    opacity: 0.1;
  }
  25% {
    /*transform: scale(25%) translateY(-30%);*/
  }
  50% {
    transform: scale(50%) translateY(-150%);
    opacity: 0.4;
  }
  75% {
  }
  100% {
    transform: scale(100%) translateY(0);
    opacity: 1;
  }
}
/* NAV */

nav {
  background-image: url(assets/buncha-pokemon.png);
  margin-bottom: 4%;
}

.poke__logo--wrapper {
  display: flex;
  justify-content: center;
  animation: float 800ms ease-in-out alternate-reverse infinite;
}
.poke__logo {
  animation: toss 800ms ease-in-out;
}

/* search */
.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__input {
  width: 32%;
  height: 40px;
  font-size: 16px;

  animation: grow-in 1200ms ease-in-out;
}

.search__btn {
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;

  animation: slide-in 901ms ease-in;
  background-color: none;
}
.search__btn--ball,
.search__btn {
  width: 64px;
  height: 64px;
}
.search__btn--ball {
  animation: grow 401ms ease-in-out alternate-reverse infinite;
}

.pokemon__img {
  display: none;
}

.character-list {
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  text-align: center;
  padding: 0;
  margin: 0;
}
.character {
  width: 100%;
}
.character__card {
}
.character__card--container {
  border: 8px solid blue;
  background-color: lightblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 12px 0;
  border-radius: 10px;
  width: 150px;
  height: 200px;

  text-align: center;
}
