* {
  padding: 0;
  margin: 0;
}

/* search */
.search {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search__btn {
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
}
.search__btn--ball,
.search__btn {
  width: 24px;
  height: 24px;
}

.pokemon__img {
  display: none;
}
